$imageUrl: "../images/"; // 로컬용
// $imageUrl: "/images"; //서버용

$black: #000;
$gray33: #333;
$gray77: #777;
$gray99: #999;
$graybd: #bdbdbd;
$graye0: #e0e0e0;
$grayf1: #f1f1f1;
$white: #fff;
$blue94: #94c0e9;
$blue00: #005bac;
